PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/outr-acadlytics?retryWrites=true&w=majority
JWT_SECRET=outr_acadlytics_super_secret_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
